<h1>Basic</h1>
<ul>
  <li>
    <a [routerLink]="['/basic/camera']" routerLinkActive="router-link-active">
      camera
    </a>
  </li>
  <li>
    <a [routerLink]="['/basic/cube']" routerLinkActive="router-link-active">
      cube
    </a>
  </li>
  <li>
    <a [routerLink]="['/basic/debug-ui']" routerLinkActive="router-link-active">
      debug-ui
    </a>
  </li>
  <li>
    <a [routerLink]="['/basic/fullscreen-and-resizing']" routerLinkActive="router-link-active">
      fullscreen-and-resizing
    </a>
  </li>
  <li>
    <a [routerLink]="['/basic/geometries']" routerLinkActive="router-link-active">
      geometries
    </a>
  </li>
  <li>
    <a [routerLink]="['/basic/gsap-animation']" routerLinkActive="router-link-active">
      gsap-animation
    </a>
  </li>
  <li>
    <a [routerLink]="['/basic/materials']" routerLinkActive="router-link-active">
      materials
    </a>
  </li>
  <li>
    <a [routerLink]="['/basic/text']" routerLinkActive="router-link-active">
      3D text
    </a>
  </li>
  <li>
    <a [routerLink]="['/basic/textures']" routerLinkActive="router-link-active">
      textures
    </a>
  </li>
</ul>

<h1>Classic techniques</h1>
<ul>
  <li>
    <a [routerLink]="['/classic-techniques/lights']" routerLinkActive="router-link-active">
     lights
    </a>
  </li>
</ul>
