<h1>Basic</h1>
<ul>
  <li>
    <a [routerLink]="['/basic/camera']" routerLinkActive="router-link-active">
      camera
    </a>
  </li>
  <li>
    <a [routerLink]="['/basic/cube']" routerLinkActive="router-link-active">
      cube
    </a>
  </li>
  <li>
    <a [routerLink]="['/basic/debug-ui']" routerLinkActive="router-link-active">
      debug-ui
    </a>
  </li>
</ul>

<h1>Classic techniques</h1>
<ul>
  <li>
    <a [routerLink]="['/classic-techniques/lights']" routerLinkActive="router-link-active">
     lights
    </a>
  </li>
</ul>
